<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Student</title>
    <link rel="stylesheet" href="css/styleforminsert.css">
</head>
<body>
    <h1>Delete Student</h1>
    <form th:action="@{/delete-student}" method="post">
        <div>
            <label for="cnie">CNIE:</label>
            <input type="text" id="cnie" name="cnie">
        </div>
        <button type="submit">Delete</button>
    </form>
    <form th:action="@{/print}" method="get">
        <button type="submit">Retour</button>
    </form>
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
</body>
</html>
